.cart-head {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-box {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
}
.border{
    width: 70%;
    height: 10px;
    border-bottom: 1px solid gray;
}

.link-box{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-route-box{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-container{
    display: flex;
    justify-content: center;
}

.ad1{
    margin-top: 3rem;
    margin-left: 2%;
    width: 13%;
    height: 800px;
    background: url('../assets/img/ad/ad-uos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ad2{
    margin-top: 3rem;
    margin-right: 2%;
    width: 13%;
    height: 800px;
    background: url('../assets/img/ad/ad-uos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.order-box{
    margin-top: 3%;
    width: 100%;
    text-align:right;
}
.order{
    font-size: 30px;
    border: 3px solid #fff;
    background-color:  rgba(252,126,0,1);
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem;
    margin-right: 15%;
    cursor: pointer;
}

.order:active {
    margin-left: 2px;
    margin-top: 2px;
    opacity: 0.8;

  }

.cart-subcontainer{
    width: 70%;
}

#cart-test{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-modal{
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    background-color: white;
    border-radius: 2px;
    height: 70%;
    overflow-y: auto;
}

.modal-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: orange;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-box{
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    height: 100px;
}

.detail-img-box{
    width: 30%;
}

.detail-img{
    width: 67%;
    height: 100%;
    border-radius: 50%;
    background: url('../assets/img/menu/steak.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.price-quantity-box{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    height: 30%;
    align-items: center;
}

.detail-info-box{
    width: 70%;
}

#quantity{
    width: 15%;
    height: 100%;
    font-size: 20px;
}

#price{
    font-size: 25px;
    font-weight: bold;
}

#dinnerIngredient{
    font-size: 25px;
    font-weight: 500;
}

#add-detail{
    position: absolute;
    margin-left: 35%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: orange;
    font-size: 18px;
    border-color: white;
    border-radius: 5px;
    color: white;
}

#add-detail:active{
    opacity: 0.8;
}

#cartItemNo{
    position: absolute;
    display: none;
}

#close-btn{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    align-self: flex-end;
    margin-right: 3%;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2%;

}

.style:active{
    opacity: 0.8;
}

.render-detail{
    position: fixed;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid orange;
    width: 30%;
    height: 40%;
    background-color: white;
    text-align: left;
    overflow-y: auto;
}

.render-detail .title{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    background-color: orange;
}

#close-detail-btn{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    align-self: flex-end;
    margin-right: 3%;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2%;
}

.show-detail{
    border-radius: 50%;
    border: 2px solid orange;
    height: 5%;
    width: 2%;
    position: absolute;
    background-color: orange;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    left:50%;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}