* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.body {
  background-color: #000;
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  position: relative;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg"); /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg"); /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  margin-top: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 800px;
  background-color: white;
  z-index: 1;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .title{
  width: 90%;
  align-self: center;
  border: 1px solid rgba(181, 181, 181, 1);
  border-radius: 4px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 25px;
  font-weight: bold;
  color: rgb(81, 81, 81);
}

#recoverIdBox{
  height: 38px;
  align-items: center;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  border: 1px gray;
}

#recoverIdBox2{
  height: 38px;
  align-items: center;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  border: 1px gray;
}

#recoverIdBox .section-title{
  width: 30%;
  height: 40px;
  background-color: rgba(181, 181, 181, 1);
  text-align: center;
  padding-top: 0.5rem;
  color: white;
}

#recoverIdBox #email{
  height: 40px;
  width: 70%;
  font-size: 18px;;
  border: 2px solid rgba(181, 181, 181, 1);
  margin-right: 1rem;
}

#recoverIdBox #email:focus{
  outline: 2px solid rgba(181, 181, 181, 1);
}

#recoverIdBox #id{
  height: 40px;
  width: 70%;
  font-size: 18px;;
  border: 2px solid rgba(181, 181, 181, 1);
  margin-right: 1rem;
}

#recoverIdBox #id:focus{
  outline: 2px solid rgba(181, 181, 181, 1);
}

#id-modal{
  background: rgba(0,0,0,.5);
  overflow: hidden;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border-radius: 5px;
}

#pw-modal{
  background: rgba(0,0,0,.5);
  overflow: hidden;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border-radius: 5px;
}

.modal-title{
  z-index: 100;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 25px;
  font-weight: bold;
  background-color: orange;
  border-bottom: 2px solid orange;
}

.modal-content{
  margin-top: 1rem;
  margin-bottom: 1rem;
}



#close-btn{
  font-weight: bold;
  position: absolute;
  align-self: flex-end;
  margin-right: 2%;
  cursor: pointer;
  margin-top: 2%;
  z-index: 105;
  color: #000;
}



.modal-container {
  background: rgba(0,0,0,.5);
  display: none;
  /* this is how we cover the entire page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modal-container2 {
  background: rgba(0,0,0,.5);
  display: none;
  /* this is how we cover the entire page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

select {
  width: 150px; 
  padding: .8em .5em;
  border: 1px solid #999;
  border-radius: 0px; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}
  
select::-ms-expand {
  display: none;
}
  




#auth-code{
  margin-right: 1rem;
  height: 40px;
  width: 30%;
  border: 2px solid rgba(181, 181, 181, 1);
  font-size: 18px;
}

#auth-code:focus{
  outline: 2px solid rgba(181, 181, 181, 1);
}

#verify-email{
  height: 40px;
  font-weight: bold;
  border: 2px solid rgba(181, 181, 181, 1);
  background-color: rgba(181, 181, 181, 1);
  color: white;
  width: 12%;
}

#verify-email:active{
  opacity: 0.8;
}

.auth-button-box{
  margin-top: 2rem;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

#auth-button{
  height: 40px;
  font-weight: bold;
  border: 2px solid rgba(181, 181, 181, 1);
  background-color: rgba(181, 181, 181, 1);
  color: white;
}

#auth-button:active{
  opacity: 0.8;
}

.content-box{
  width: 80%;
  display: flex;
  flex-direction: column;
}

#go-main{
  margin-top: 5rem;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgb(161, 105, 1);
  color: white;
  background-color: orange;
  cursor: pointer;
}

#go-main:active{
  opacity: 0.8;
}

.recover-box{
  display: flex;
  justify-content: center;
}

#recovered-password{
  margin-right: 1rem;
  height: 40px;
  width: 50%;
  border: 2px solid orange;
  font-size: 18px;
}

#recovered-password:focus{
  outline: 2px solid orange;
}

.recover-btn{
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgb(161, 105, 1);
  color: white;
  background-color: orange;
  cursor: pointer;
}

.recover-btn:active{
  opacity: 0.8;
}