* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v170_95 {
  width: 100%;
  height: 1033px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}

.v170_98 {
  width: 118px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 42px;
  left: 480px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v170_99 {
  width: 118px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 42px;
  left: 840px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v170_101 {
  width: 45px;
  color: rgba(0, 0, 0, 0.5699999928474426);
  position: absolute;
  top: 24px;
  left: 1285px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}

.v170_102 {
  width: 60px;
  color: rgba(0, 0, 0, 0.5699999928474426);
  position: absolute;
  top: 24px;
  left: 1340px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}

.v170_104 {
  width: 100%;
  color: rgba(0, 0, 0, 0.30000001192092896);
  position: absolute;
  top: 390px;
  left: 163px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}

.v170_185 {
  width: 652px;
  height: 821px;
  background: url("../images/v170_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 398px;
  overflow: hidden;
  align-content: center;
}

.v170_124 {
  width: 652px;
  height: 821px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(119, 119, 119, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v175_215 {
  width: 388px;
  height: 27px;
  background: url("../images/v175_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 691px;
  left: 151px;
  overflow: hidden;
}

.v170_209 {
  width: 108px;
  height: 27px;
  background: rgba(181, 181, 181, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v170_210 {
  width: 280px;
  height: 27px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 108px;
  border: 1px solid rgba(181, 181, 181, 1);
  overflow: hidden;
}

.v170_211 {
  width: 74px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}

.v175_214 {
  width: 388px;
  height: 27px;
  background: url("../images/v175_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 151px;
  overflow: hidden;
}

.v170_206 {
  width: 108px;
  height: 27px;
  background: rgba(181, 181, 181, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v170_208 {
  width: 280px;
  height: 27px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 108px;
  border: 1px solid rgba(181, 181, 181, 1);
  overflow: hidden;
}

.v170_207 {
  width: 74px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}

.v175_222 {
  width: 177px;
  height: 185px;
  background: url("../images/v175_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 426px;
  left: 362px;
  overflow: hidden;
}

.v170_201 {
  width: 177px;
  height: 185px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}

.v175_220 {
  width: 154px;
  height: 165px;
  background: rgba(255, 250, 250, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}

.v175_226 {
  width: 129px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 72px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}

.v175_224 {
  width: 68px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 44px;
  left: 54px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v175_228 {
  width: 80px;
  height: 26px;
  background: rgba(252, 126, 0, 1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v175_229 {
  width: 41px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 135px;
  left: 70px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}

.v175_221 {
  width: 174px;
  height: 185px;
  background: url("../images/v175_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 426px;
  left: 152px;
  overflow: hidden;
}

.v170_200 {
  width: 174px;
  height: 185px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.v175_219 {
  width: 154px;
  height: 165px;
  background: rgba(255, 250, 250, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

.v175_225 {
  width: 140px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 72px;
  left: 26px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}

.v175_223 {
  width: 72px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 44px;
  left: 53px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v175_227 {
  width: 80px;
  height: 26px;
  background: rgba(252, 126, 0, 1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v175_230 {
  width: 41px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 135px;
  left: 70px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}

.v175_216 {
  width: 388px;
  height: 27px;
  background: url("../images/v175_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 368px;
  left: 151px;
  overflow: hidden;
}

.v170_199 {
  width: 108px;
  height: 27px;
  background: rgba(181, 181, 181, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v170_205 {
  width: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 37px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}

.v170_202 {
  width: 280px;
  height: 27px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 108px;
  border: 1px solid rgba(181, 181, 181, 1);
  overflow: hidden;
}

.v170_198 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 302px;
  left: 70px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v170_195 {
  width: 100px;
  height: 30px;
  background: rgba(252, 126, 0, 1);
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 295px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v170_212 {
  width: 100px;
  height: 30px;
  background: rgba(252, 126, 0, 1);
  opacity: 1;
  position: absolute;
  top: 751px;
  left: 299px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v170_196 {
  width: 28px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 239px;
  left: 333px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}

.v170_213 {
  width: 28px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 759px;
  left: 337px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}

.v170_184 {
  width: 50px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 63px;
  left: 68px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v175_218 {
  width: 390px;
  height: 32px;
  background: url("../images/v175_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 151px;
  overflow: hidden;
}

.v170_192 {
  width: 286px;
  height: 29px;
  background: rgba(255, 251, 251, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border: 1.5px solid rgba(181, 181, 181, 1);
}

.v170_187 {
  width: 104px;
  height: 29px;
  background: rgba(181, 181, 181, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}

.v170_190 {
  width: 41px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 34px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}

.v175_217 {
  width: 391px;
  height: 29px;
  background: url("../images/v175_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 151px;
  overflow: hidden;
}

.v170_191 {
  width: 287px;
  height: 29px;
  background: rgba(255, 251, 251, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border: 1.5px solid rgba(181, 181, 181, 1);
  overflow: hidden;
}

.v170_186 {
  width: 104px;
  height: 29px;
  background: rgba(181, 181, 181, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v170_188 {
  width: 66px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 23px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}

.line1 {
  width: 545px;
  height: 39px;
  background: url("../images/line1.png");
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 55px;
  border: 1px solid rgba(180, 179, 179, 1);
}

.v170_197 {
  width: 545px;
  height: 40px;
  background: url("../images/v170_197.png");
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 55px;
  border: 1px solid rgba(180, 179, 179, 1);
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg"); /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg"); /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
