header.masthead {
    padding-top: 20rem;
    padding-bottom: 6rem;
    text-align: center;
    position: relative;
    color: #fff;
    background-image: url("../assets/img/main/front-image.jpg");
    /* 메인 페이지 사진*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
  }
  
  .header.masthead {
    padding-top: 20rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/main/front-image.jpg");
    /* 메인 페이지 사진*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
  }

  .title {
    width: 250px;
    margin-left: 10%;
    transform: translate(-40%,100%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: semi bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    display: inline-block;
  }

  .subtitle {
    width: 900px;
    margin-left: -5%;
    transform: translate(-25%,420%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .line1 {
    position: relative;
    top: 100px;
    height: 0.1px;
  }

  .line2 {
    position: relative;
    top: 200px;
    height: 0.1px;
  }

  .line3 {
    position: relative;
    top: 230px;
    height: 0.1px;
  }

  .line4 {
    position: relative;
    top: 260px;
    height: 0.1px;
  }

  .line5 {
    position: relative;
    top: 290px;
    height: 0.1px;
  }

  .cardreg {
    width: 300px;
    margin-left: 15%;
    transform: translate(-53%,910%); 
    color: #A1A1A1;
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .couponid {
    width: 300px;
    margin-left: 15%;
    transform: translate(-53%,1030%);
    color: #A1A1A1;
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .outreg {
    width: 300px;
    margin-left: 15%;
    transform: translate(-53%,1150%);
    color: #A1A1A1;
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .profileimg {
    width: 300px;
    height: 300px;
    margin-left: 20%;
    transform: translate(0,105%);
  }

  .line2-1 {
    margin-left: 40%;
  }

  .line2-2 {
    margin-left: 40%;
  }

  .line2-3 {
    margin-left: 40%;
  }

  .line2-4 {
    margin-left: 40%;
  }

  .line2-5 {
    margin-left: 40%;
  }

  .line2-6 {
    margin-left: 40%;
  }

  .line2-7 {
    margin-left: 40%;
  }

  .name {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,0%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .nickname {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,10%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .birth {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,10%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .phone {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,10%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .email {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,10%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .address {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,10%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .type {
    width: 400px;
    margin-left: 55%;
    transform: translate(-53%,10%);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: medium;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    display: inline-block;
  }

  .imgchng {
    width: 180px;
    height: 35px;
    background: #bdbdbd;
    transform: translate(-135%, 1000%);
    opacity: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: semi Bold;
    font-size: 14px;
    text-align: center;
  }

  button:focus {
    outline:0;
  }
  
  button:hover {
    background: rgb(160, 160, 160); ; 
    cursor: pointer;
  }

  .chng-1 {
    width: 60px;
    height: 23px;
    margin-left: -6%;
    background-color: #bdbdbd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: semi Bold;
    font-size: 10px;
    text-align: center;
  }

  .chng-2 {
    width: 60px;
    height: 23px;
    margin-left: -6%;
    background-color: #bdbdbd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: semi Bold;
    font-size: 10px;
    text-align: center;
  }

  .chng-3 {
    width: 60px;
    height: 23px;
    margin-left: -6%;
    background-color: #bdbdbd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: semi Bold;
    font-size: 10px;
    text-align: center;
  }

  .chng-4 {
    width: 60px;
    height: 23px;
    margin-left: -6%;
    background-color: #bdbdbd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: semi Bold;
    font-size: 10px;
    text-align: center;
  }

  .allchangebtn {
    transform: translate(700%, 100%);
    width: 120px;
    height: 30px;
    background-color: #bdbdbd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: semi Bold;
    font-size: 15px;
    text-align: center;
  }