header.masthead {
    padding-top: 20rem;
    padding-bottom: 6rem;
    text-align: center;
    position: relative;
    color: #fff;
    background-image: url("../assets/img/main/front-image.jpg");
    /* 메인 페이지 사진*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    opacity: 0.45;
}

.ordrsituation {
    position: absolute;
    left: 160px;
    top: 160px;
    text-align: left;
    padding-top: -40rem;
    color: rgba(0, 0, 0, );
    font-family: Inter;
    font-weight: Bold;
    font-size: 34px;
    opacity: 1;
}

.info1 {
    position: absolute;
    left: 175px;
    top: 240px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
}

.info2 {
    position: absolute;
    left: 175px;
    top: 265px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    opacity: 1;
}

.ordercontainer {
    display: flex;
    justify-content: center;
    transform: translate(0, 20%);
}

.crntmenu {
    width: 250px;
    height: 210px;
    position: relative;
    right: 200px;
    transform: translate(0, 135%);
}

.orderstatus {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    opacity: 1;
}

.outercontainer {
    width: 1098px;
    height: 350px;
    background: rgba(221, 221, 221, 0.9);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.innercontainer {
    width: 1023px;
    height: 280px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    line-height: 70px;
}

.info {
    position: relative;
    left: 200px;
    top: 220px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #F10606
}

.ordertime {
    position: relative;
    left: 620px;
    text-align: left;
}

.change {
    width: 140px;
    height: 53px;
    margin-top: 5rem;
    background: rgba(252, 126, 0, 1);
    opacity: 1;
    margin-left: 22rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    text-align: center;
}

.cancel {
    width: 140px;
    height: 53px;
    margin-top: 5rem;
    margin-left: 6rem;
    background: rgba(252, 126, 0, 1);
    opacity: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-color: transparent;
    color: white;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    text-align: center;
}

button:focus {
    outline: 0;
}

button:hover {
    background: rgba(224, 113, 1, 0.86);
    cursor: pointer;
}

.line1 {
    margin-top: 15rem;
}

.ordrinfo {
    margin-top: 3rem;
    margin-left: 10rem;
    font-family: Inter;
    font-style: normal;
    font-weight: semi bold;
    font-size: 29px;
    line-height: 34px;
    text-align: left;
}

.crntname {
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 27rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    text-align: left;
}

.crntstyle {
    margin-left: 27.5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 8px;
    text-align: left;
    color: #9C9A9A;
}

.price {
    margin-left: 27rem;
    margin-top: 4rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    text-align: left;
}

.line2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.pastorderinfo {
    margin-left: 10rem;
    font-family: Inter;
    font-style: normal;
    font-weight: semi bold;
    font-size: 29px;
    line-height: 34px;
    text-align: left;
}

.pastorderset {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pastordercontainer0 {
    display: flex;
    flex-direction: row;
}

.pastordercontainer1 {
    display: flex;
    flex-direction: row;
}

.pastordercontainer2 {
    display: flex;
    flex-direction: row;
}

.pastoutercontainer0 {
    margin-top: 3rem;
    width: 350px;
    height: 400px;
    background: #D9D9D9;
    border-radius: 15px;
}

.pastoutercontainer1 {
    margin-top: 3rem;
    margin-left: 10rem;
    width: 350px;
    height: 400px;
    background: #D9D9D9;
    border-radius: 15px;
}

.pastoutercontainer2 {
    margin-top: 3rem;
    margin-left: 10rem;
    width: 350px;
    height: 400px;
    background: #D9D9D9;
    border-radius: 15px;
}

.pastinnercontainer {
    margin: auto;
    margin-top: 35px;
    width: 284px;
    height: 330px;
    background: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pastmenu0 {
    margin-top: 2.5rem;
    margin-left: 4rem;
    width: 150px;
    height: 120px;
}

.pastmenu1 {
    margin-top: 2.5rem;
    margin-left: 4rem;
    width: 150px;
    height: 120px;
}

.pastmenu2 {
    margin-top: 2.5rem;
    margin-left: 4rem;
    width: 150px;
    height: 120px;
}

.line3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.pastdinner {
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    text-align: left;
}

.innerline {
    height: 0.1px;
}

.pastinfo {
    margin-top: 1.5rem;
}

.paststyle {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    color: #9C9A9A;
    font-size: 14px;
    line-height: 8px;
    text-align: left;
}