header.masthead {
  padding-top: 20rem;
  padding-bottom: 6rem;
  text-align: center;
  position: relative;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg");
  /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity: 0.6;
}

.header.masthead {
  padding-top: 20rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg");
  /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity: 0.6;
}

.orderbtn {
  width: 100px;
  height: 28px;
  background: rgb(255, 0, 30);
  opacity: 0.8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  border-color: transparent;
  color: white;
  font-size: 14px;
  text-align: center;
}

.mySwiper {
  margin-top: 5%;
}

.container0 {
  width: 25%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.redbox {
  width: 455px;
  height: 57px;
  background: rgba(74, 34, 28, 0.8500000238418579);
  opacity: 0.949999988079071;
  position: relative;
  top: -20%;
  left: 10%;
  transform: translate(0, -200%);
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: center;
  line-height: 57px;
}

.outercontainer0 {
  width: 100%;
  height: 100%;
  background: #c5c5c5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 15px #6a6a6aec;
}

.outercontainer1 {
  width: 380px;
  height: 663px;
  background: #c5c5c5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 15px #6a6a6aec;
}

#swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.outercontainer2 {
  width: 380px;
  height: 663px;
  background: #c5c5c5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 15px #6a6a6aec;
}

.innercontainer {
  width: 90%;
  height: 73%;
  background: white;
  margin: auto;
  transform: translate(0, 5%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #b0b0b0;
  overflow: hidden;
}

.innercontainer1 {
  width: 320px;
  height: 530px;
  background: white;
  margin: auto;
  transform: translate(0, 5%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #b0b0b0;
  overflow: hidden;
}

.innercontainer2 {
  width: 320px;
  height: 530px;
  background: white;
  margin: auto;
  transform: translate(0, 5%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #b0b0b0;
  overflow: hidden;
}

.ordernumber0 {
  width: 320px;
  height: 52px;
  background: #a9a9a9;
  margin: auto;
  transform: translate(0, 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  line-height: 52px;
}

.ordernumber1 {
  width: 320px;
  height: 52px;
  background: #a9a9a9;
  margin: auto;
  transform: translate(0, 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  line-height: 52px;
}

.ordernumber2 {
  width: 320px;
  height: 52px;
  background: #a9a9a9;
  margin: auto;
  transform: translate(0, 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  line-height: 52px;
}

.line1 {
  position: relative;
  top: 20%;
  height: 0.1px;
}

.line2 {
  position: relative;
  top: 30%;
  height: 0.1px;
}

.dinnercontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dinnername,
.specadd,
.add {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

#add-info {
  padding-left: 2rem;
  margin-bottom: 1rem;
  font-size: 15px;
}


.userinfo {
  width: 200px;
  margin-left: -10%;
  transform: translate(0, 570%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
  display: inline-block;
}

.nameinfo {
  width: 200px;
  transform: translate(15%, 670%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  display: inline-block;
}

.phoneinfo {
  width: 200px;
  transform: translate(15%, 710%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  display: inline-block;
}

.addressinfo {
  width: 300px;
  top: 30px;
  transform: translate(10%, 670%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
  display: inline-block;
}

.ordertime {
  width: 200px;
  margin-left: 48%;
  transform: translate(0, 570%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: semi bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
  display: inline-block;
}

.userreq {
  width: 200px;
  transform: translate(-20%, 830%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
  display: inline-block;
}

.userreqspec {
  width: 200px;
  margin-left: -5%;
  transform: translate(0, 1040%);
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  display: inline-block;
}

.orderstatus0 {
  width: 380px;
  height: 60px;
  background: rgb(255, 0, 30);
  transform: translate(0, 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 0.8;
  text-align: center;
  line-height: 60px;
  box-shadow: 5px 5px 10px #20040438;
}

.orderstatus1 {
  width: 380px;
  height: 60px;
  background: rgb(255, 0, 30);
  transform: translate(0, 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 0.8;
  text-align: center;
  line-height: 60px;
  box-shadow: 5px 5px 10px #20040438;
}

.orderstatus2 {
  width: 380px;
  height: 60px;
  background: rgb(255, 0, 30);
  transform: translate(0, 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: white;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 0.8;
  text-align: center;
  line-height: 60px;
  box-shadow: 5px 5px 10px #20040438;
}

.prevBtn {
  width: 36px;
  height: 37px;
  opacity: 1;
  margin-top: 8%;
  margin-left: 48%;
  overflow: hidden;
  background: transparent;
  border-color: transparent;
  color: rgba(53, 53, 53, 1);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  text-align: center;
}

.nextBtn {
  width: 36px;
  height: 37px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  background: transparent;
  border-color: transparent;
  color: rgba(53, 53, 53, 1);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  text-align: center;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}