.cart-head {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-box {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
}
.border{
    width: 70%;
    height: 10px;
    border-bottom: 1px solid gray;
}

.link-box{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-route-box{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.customer-info-container{
    display: flex;
    justify-content: center;
}

.customer-info-box{
    margin-top: 50px;
    width: 50%;
    border: 2px solid gray;
}

.customer-info-top{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.customer-title {
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
}

.customer-info-update{
    margin-right: 8%;
}

.customer-info{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.customer-info .name, .phone-number, .address{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-container .title {
    align-self: flex-start;
    margin-left: 20%;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.order-container #order-request{
    margin-top: 30px;
    height: 100px;
    width: 50%;
    font-size: 15px;
}