* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v227_24 {
  width: 100%;
  height: 1260px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v227_25 {
  width: 100%;
  height: 328px;
  background: url("../images/v227_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 0px;
  overflow: hidden;
}

.v227_26 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 259px;
  left: 40px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 54px;
  opacity: 1;
  text-align: center;
}

.v227_63 {
  width: 860px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 716px;
  left: 334px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 46px;
  opacity: 1;
  text-align: center;
}

.v227_39 {
  width: 400px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 465px;
  left: 90px;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v227_40 {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 516px;
  left: 218px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}

.v227_51 {
  width: 277px;
  height: 53px;
  background: url("../images/v227_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 960px;
  left: 625px;
  overflow: hidden;
}

.v227_52 {
  width: 277px;
  height: 53px;
  background: rgba(252, 126, 0, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  border-color: transparent;
  color: white;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  text-align: center;
}

.v227_53 {
  width: 151px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 62px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v227_54 {
  width: 100%;
  height: 92px;
  background: url("../images/v227_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}

.v227_55 {
  width: 100%;
  height: 87px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v227_56 {
  width: 118px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 33px;
  left: 480px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.v227_57 {
  width: 118px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 33px;
  left: 840px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.v227_58 {
  width: 45px;
  color: rgba(0, 0, 0, 0.5699999928474426);
  position: absolute;
  top: 21px;
  left: 1230px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}

.v227_59 {
  width: 45px;
  color: rgba(0, 0, 0, 0.5699999928474426);
  position: absolute;
  top: 21px;
  left: 1285px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}

.v227_60 {
  width: 60px;
  color: rgba(0, 0, 0, 0.5699999928474426);
  position: absolute;
  top: 21px;
  left: 1340px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}

.v227_61 {
  width: 118px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 35px;
  left: 660px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.v227_62 {
  width: 215px;
  height: 80px;
  background: url("../images/v227_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 45px;
  overflow: hidden;
}

button:focus {
  outline:0;
}

button:hover {
  background: rgba(252, 126, 0, 1); ; 
  cursor: pointer;
}

header.masthead {
  padding-top: 20rem;
  padding-bottom: 6rem;
  text-align: center;
  position: relative;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg"); /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity: 0.85;
}

.header.masthead {
  padding-top: 20rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/main/front-image.jpg"); /* 메인 페이지 사진*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity: 0.85;
}
